<?xml version='1.0' encoding='utf-8'?>
<widget id="com.virtualbizcards.photo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Biz-photo</name>
    <description>
       Biz photo.
    </description>
    <author email="bizswiper@gmail.com" href="https://virtualbizcards.com">
        Biz Team
    </author>
    <content src="index.html" />
    <access origin="https://*.http://virtualbizcards.com" />
    <allow-navigation href="https://*.virtualbizcards.com/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="img/favicon.png" />
    
    <preference name="SplashScreenDelay" value="4000" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="15" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <allow-intent href="market:*" />
              <!-- Portrait -->
        <splash src="res/android/splash-portrait-ldpi.png" platform="android" density="port-ldpi" width="320" height="426" />
        <splash src="res/android/splash-portrait-mdpi.png" platform="android" density="port-mdpi" width="320" height="470" />
        <splash src="res/android/splash-portrait-hdpi.png" platform="android" density="port-hdpi" width="480" height="640" />
        <splash src="res/android/splash-portrait-xhdpi.png" platform="android" density="port-xhdpi" width="720" height="960" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
        <splash src="res/screen/Default@2x~universal~anyany.png" platform="ios" />
        <!-- iPhone 6 / 6+ -->
        <icon src="res/ios/icon-60@3x.png" platform="ios" width="180" height="180" />

        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icon-60.png" platform="ios" width="60" height="60" />
        <icon src="res/ios/icon-60@2x.png" platform="ios" width="120" height="120" />

        <!-- iPad -->
        <icon src="res/ios/icon-76.png" platform="ios" width="76" height="76" />
        <icon src="res/ios/icon-76@2x.png" platform="ios" width="152" height="152" />
        <icon src="res/ios/icon-83.5@2x.png" platform="ios" width="167" height="167" />

        <!-- Settings Icon -->
        <icon src="res/ios/icon-small.png" platform="ios" width="29" height="29" />
        <icon src="res/ios/icon-small@2x.png" platform="ios" width="58" height="58" />
        <icon src="res/ios/icon-small@3x.png" platform="ios" width="87" height="87" />

        <!-- Spotlight Icon -->
        <icon src="res/ios/icon-40.png" platform="ios" width="40" height="40" />
        <icon src="res/ios/icon-40@2x.png" platform="ios" width="80" height="80" />
        <icon src="res/ios/icon-40@3x.png" platform="ios" width="120" height="120" />
        
        
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />
    <plugin name="cordova-plugin-camera" source="npm" spec="~2.4.1" />
</widget>
