.button.card-side.selected {
	background-color: rgba(0,0,0,.2);
	color: rgb(50,50,50);
}

#card-photo {
	margin-left: auto;
	margin-right: auto;
	border: solid 1px rgba(150,150,150,1);
	height: 200px;
	width: 300px;
	border-radius: 5px;
	overflow: hidden;
}

#card-photo div {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-image: none;
}

.hidden {
	display: none;
}
